@layout('layouts.main')

@section('title')
Acercate a tu nómina Pachuca
@endsection

@section('content')
<div class="container">
    <h1>Bienvenid@ </h1>  
    <h1>inicia sesión o registrate</h1>
</div>

@endsection
