/* @import url('https://fonts.googleapis.com/css?family=Montserrat:300,700'); */

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #EFEFEF;
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

header {
  background-color: #969696;
  display: grid;
  grid-template-columns: 30% auto;
}
header a {
  color: rgb(0, 44, 126);
  text-decoration: none;
  text-transform: uppercase;
}
#logo {
  display: flex;
}
/* nav {
  justify-self: right;
} */
li {
  float: right;
}
nav ul li {
  display: inline;
}
nav ul li a {
  padding: 2em;
  display: inline-block;
}
nav ul li a:hover {
  background: #455668;
}
.container {
  width: calc(100% - 3em);
  padding: 2em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-bottom: 1em;
}
.job-container, .job-container2, .job-container-session {
  background: white;
  border-radius: 7px;
  padding: 1em;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 120px auto;
}
.blank {
  width: 100px;
  height: 100px;
  border: 1px solid lightgray;
  border-radius: 5px;
}